@import "/src/styles/variables";

.quiz-question {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: $nero-soft;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quiz-option-button {
  padding: 1rem;
  background-color: #00000017;
  border: 2px solid $oro-spento;
  border-radius: 8px;
  font-size: 1.1rem;
  color: $nero-soft;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $oro-spento;
    color: $beige-sabbia;
  }

  &:active {
    transform: scale(0.98);
  }
}
